In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import precision_score,confusion_matrix,accuracy_score,recall_score,classification_report, f1_score

In [10]:
data=pd.read_csv("Iris.csv")
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [9]:
data=pd.read_csv("Iris.csv")
encoder=preprocessing.LabelEncoder()
data['Species']=encoder.fit_transform(data['Species'])
data

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [7]:
x=data.iloc[:,[1,4]].values
y=data.iloc[:,5].values

x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.20, random_state=0)

classifier=GaussianNB()
classifier.fit(x_train,y_train)

y_pred=classifier.predict(x_test)

In [21]:
cm=confusion_matrix(y_test,y_pred)
print(cm)

acc=accuracy_score(y_test,y_pred)
print(acc)

pr=precision_score(y_test,y_pred,average=None)
pr

recall=recall_score(y_test,y_pred,average=None)
recall

cl_report=classification_report(y_test,y_pred)
cl_report

f1=f1_score(y_test,y_pred,average=None)
print(f1)

[[11  0  0]
 [ 0 13  0]
 [ 0  1  5]]
0.9666666666666667
[1.         0.96296296 0.90909091]